* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 600px;
    margin: 0 auto;
}
header,
footer {
    background-color: #1a0225;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
form select,
.inst input,
textarea {
    display: block;
    padding: 12px;
    margin-top: .3rem;
    width: 100%;
    margin-bottom: .9rem;
}
form {
    padding: .8rem;
    background-color: #e7e4e7;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
form label {
    font-weight: bold;
}
.stars label {
    cursor: pointer;
}
.one {
    display: flex;
    gap: 10px;
}
.rating-row {
    display: flex;
    gap: .5rem;
    align-items: center;
}
.rating-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: .2rem;
    width: 100%
}
.rating-item input[type="radio"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.inst {
    margin-top: .9rem;
}
.checks {
    display: flex;
    flex-direction: column;
    padding-bottom: .8rem;
}
.checks input[type="checkbox"] {
    margin-right: 6px;
    width: 25px;
    height: 25px;
    margin-top: 6px;

}
form textarea {
    height: 150px;
}
form button {
    padding: .5rem;
    width: 100%;
}