* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 600px;
    margin: 0 auto;
}
header,
footer {
    background-color: #4a2c1a;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
form select,
.inst input,
form textarea {
    display: block;
    padding: 12px;
    margin-top: .3rem;
    width: 100%;
    margin-bottom: .9rem;
}
form {
    padding: 1rem .8rem;
    background-color: #ececec;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
form label {
    font-weight: bold;
}
.one {
    display: flex;
    gap: 10px;
}
.rating-row {
    display: flex;
    gap: .5rem;
    align-items: center;
}
.rating-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: .2rem;
    width: 100%;
}
.rating-item input[type="radio"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.inst {
    margin-top: .9rem;
}
.checks {
    display: flex;
    flex-direction: column;
    padding-bottom: .8rem;
}
.checks input[type="checkbox"] {
    margin-right: 6px;
    width: 25px;
    height: 25px;
    margin-top: 6px;

}
form textarea {
    height: 150px;
    cursor: pointer;
    /* pointer-events: none; */
    /* pointer-events: all; */
}
form input[type="submit"] {
    padding: .5rem;
    width: 100%;
}
.red {
    color: red;
}
.blue {
    color: rgb(29, 29, 175);
}
form select {
    font-style: italic;
}
.stars {
    cursor: pointer;
}