* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #0B3C5D;
    --header-color: #102A43;
    --text-color: #243A5E;
    --true-text-color: #8099c2;
    --white-text-color: #fcf8f8;
    --yellowish-text-color: #e2ff7a;
    --background-color: #F2F6FA;

    --accent-color: #F57C00;
    --hover-color: #E66A00;
    --icon-color: #FFB74D;
    --text-m-color: #6B7280;
    --yellow-text: #fdff6a;

    --white: #FFFFFF;
    --border-light: #E0E0E0;

    --font-family: "DM Serif Display", serif;
    --second-font-family: "Lora", serif;
    --one_padding: 1rem;
    --one_gap: 1rem;
    --flex-display: flex;
    --cursor-pointer: pointer;
    --grid-display: grid;

    --eight_border_radius: 8px;
    --one_margin: 1rem;
}
header {
    background-color: var(--header-color);
    color: var(--yellow-text);
    font-family: var(--font-family);
    /* text-align: center; */
    padding: var(--one_padding);
    display: var(--flex-display);
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-family: "DM Serif Display", serif;
}
body {

    font-family: var(--second-font-family);
    background-color: var(--background-color);
}
.nav-links {
    display: var(--flex-display);
    gap: var(--one_gap);
    list-style: none;
}
.nav-links a {
    color: var(--yellow-text);
    text-decoration: none;
}
.nav-links a:hover {
    color: var(--hover-color);
    text-decoration: underline double;
    font-size: 1.1rem;
    /* background-color: var(--icon-color); */
}
.nav-links a.active {
        color: var(--accent-color);
}

#menu {
    display: none;
}

nav ul.open {
    display: var(--flex-display);
    animation: slideDown 0.3s ease-in-out forwards;
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.hero {
    position: relative;
    text-align: center;
}
.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    animation: fade 15s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    display: var(--flex-display);
    flex-direction: column;
    gap: 9rem;
}
button {
    background-color: var(--accent-color);
    color: var(--white);
    padding: .7rem 1.2rem;
    border: none;
    cursor: var(--cursor-pointer);
    border-radius: var(--eight_border_radius);
}
button:hover {
    background-color: var(--hover-color);
    font-size: .9rem;
}
.course-container {
    display: var(--flex-display);
    flex-direction: column;
    gap: var(--one_gap);
    padding: var(--one_padding);
    width: 50%;
}
.course-card {
    background-color: var(--white);
    padding: var(--one_padding);
    border-radius: var(--eight_border_radius);
}
.course-quote {
    display: var(--flex-display);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.quote {
    width: 40%;
    /* font-style: italic; */
}
blockquote {
    font-style: italic;
    line-height: 1.8;
}
.quote footer {
    background-color: var(--background-color);
    color: black;
    text-align: right;
    padding: 0;
}
form {
    border: 1px solid black;
    border-radius: var(--eight_border_radius);
    padding: 1rem .8rem;
    margin-top: var(--one_margin);
    margin-bottom: var(--one_margin);
    max-width: 500px;
    margin-left: var(--one_margin);
}
form select,
form input {
    display: block;
    padding: 12px;
    margin-top: .3rem;
    width: 100%;
    margin-bottom: .9rem;
    font-style: italic;
}
form label {
    font-weight: bold;
}
form input[type="submit"] {
    font-style: normal;
    background-color: var(--accent-color);
    color: var(--white);
    border: none;
}
form input[type="submit"]:hover {
    background-color: var(--hover-color);
}
.review-form textarea {
    width:  100%;
    padding: 10px;
}
.testimonial-card {
    background-color: var(--white);
    padding: var(--one_padding);
    border-left: 5px solid var(--accent-color);
    border-radius: var(--eight_border_radius);
}
.red {
    color: red;
}
ul {
    padding: 1rem;
}
h1,
footer {
    padding: 1rem;
}
p {
    padding: .3rem;
}
header img {
    /* padding: 1rem; */
    width: 25%;
    height: auto;
}
footer {
    background-color: var(--header-color);
    color: var(--yellow-text);
    font-family: var(--font-family);
    text-align: center;
    padding: var(--one_padding);
    /* display: var(--flex-display); */
    /* justify-content: space-between; */
    /* align-items: center; */
}
@media (max-width: 740px) {
    .hero {
        overflow: hidden;
    }
    .hero-text {
        display: block;
    }
    .hero-text h2 {
        font-weight: bold;
    }
    button {
        margin-bottom: 0;
    }
    .hero-text p {
        font-style: italic;
    }
    header img {
        width: 35%;
        height: auto;
    }
    header {
        padding: 0;
        position: relative;
        z-index: 1001;
    }
    header button {
        background-color: var(--header-color);
    }
    header button:hover {
        background-color: var(--header-color);
    }
    header h1 {
        display: none;
    }
    form {
        margin: .2rem;
    }
    .course-quote {
        display: var(--flex-display);
        flex-direction: column;
    }
    .course-container {
        width: 100%;
    }
    .quote {
        width: 100%;
        padding: .5rem;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--header-color);
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: var(--one_padding);
        z-index: 1000;
        transition: all 0.3s ease;
    }
    #menu {
        display: block;
        font-size: 1.5rem;
        border: 0;
        /* background: none; */
        color: var(--hover-color);
        position: absolute;
        /* top: 1rem; */
        right: 1rem;
        cursor: pointer;
    }
    #menu::before {
        content: "☰";
    }
    #menu.open::before {
        content: "❌";
    }
    .nav-links.open {
        display: var(--flex-display);
    }

}