* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #0B3C5D;
    --header-color: #102A43;
    --text-color: #243A5E;
    --true-text-color: #8099c2;
    --white-text-color: #fcf8f8;
    --yellowish-text-color: #e2ff7a;
    --background-color: #F2F6FA;

    --accent-color: #F57C00;
    --hover-color: #E66A00;
    --icon-color: #FFB74D;
    --text-m-color: #6B7280;
    --orange-text: #fdff6a;

    --white: #FFFFFF;
    --border-light: #E0E0E0;

    --font-family: "DM Serif Display", serif;
    --second-font-family: "Lora", serif;
}
header,
footer {
    background-color: var(--header-color);
    color: var(--orange-text);
    font-family: var(--font-family);
    text-align: center;
}
body {
    font-family: var(--second-font-family);
    background-color: var(--background-color);
}
ul {
    padding: 1rem;
}
h1,
footer {
    padding: 1rem;
}
main {
    margin-top: .2rem;
}
p {
    padding: .3rem;
}
main img {
    padding: 1rem;
    width: 80%;
    height: auto;
}