* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main,
footer {
    margin: 0 auto;
    width: 400px;
    display: block;
    display: flex;
    flex-direction: column;
}
main img {
    width: 400px;
    height: 600px;
    background: #000;
    animation: fade 15s;
}
/* .fade {
    opacity: 0;
    filter: brightness(0);
    animation: fadeFromBlack 1.5s ease-in-out forwards;
} */
@keyframes fade {
    /* from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } */
     0% {
        opacity: 0;
        /* filter: brightness(0); */
     }
     100% {
        opacity: 1;
        /* filter: brightness(1); */
     }
}
