* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

header {
    background-color: darkblue;
    color: white;
    text-align: center;
    
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: 0.3s ease;

}
nav ul li a:hover {
    color: tomato;
    text-decoration: underline;
    font-size: 1.1rem;
}
nav ul li a:active {
    color: orange;
}
header nav ul li {
    list-style: none;
}
nav {
    background-color: rgba(24, 22, 22, 0.85);
    padding: 14px;
}
.course {
    padding: 25px;
}

main {
    display: grid;
    /* grid-template: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    margin: 2rem auto;
    padding: 0 1rem;
}
h1 {
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 1rem;
    color: darkblue;
    font-weight: bold;
    
}
.card {
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
    overflow: hidden;
    padding-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translate(-4px);
    box-shadow: 2px 6 px 15px rgba(0, 0, 0, 0.25);
}
.one {
    grid-column: 1/3
}
.two {
    grid-column: 3/4;
}.about {
    background-color: darkblue;
    text-align: center;
    color: white;
    padding: 15px;
    font-weight: bold;
}
.presentation {
    padding: 1rem;
    gap: 1.5rem;
    /* border: 1px solid black; */
    /* overflow: hidden; */
}
.presentation img {
    width: 190px;
    height: auto;
    border-radius: 10px;
    float: right;
}
.city {
    padding: 1rem;
    text-align: left;
}
.city img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}
figure {
    float: left;
    margin-right: 0.5rem;
}
h2 {
    text-align: center;
    margin-bottom: 0.9rem;
    border-bottom: 1px solid #ccc;
}
figcaption {
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
}
.two ul {
    padding: 2rem;
    /* list-style: none; */
}
.two li a {
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;

}
.two li a:hover {
    color: tomato;
}
footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 1rem;
}
footer p {
    margin: 0.3rem;
}
#lastModified {
    color: tomato;
}