* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'roboto', sans-serif;
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgb(147, 147, 214);
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section {
    background-color: #fff;
    padding: 1rem;
}

@media screen and (min-width: 300px) {
    header {
        background-color: #000;
        color: #fff;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
}